body {
    margin-top: 50px;
}

.layout {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.input-short {
    width: 250px;
}

.tree {
    margin-right: 6px;
    margin-left: 6px;
}

.not-visible {
    opacity: 0.5;
}

.tree-pane {
    width: 40%;
    min-width: 250px;
    min-height: 70px;
    padding-left: 14px;
    padding-right: 14px;
}

.tree-navbar {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: left;
    z-index: 1;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.tree-navbar-selectors {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.site-navbar-discriminator {
    margin-left: 21px;
}

.tree-switch {
    margin-bottom: 0;
    white-space: nowrap;
}

.tree-navbar .bp3-button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bp3-tree-node.bp3-tree-node-selected
    > .bp3-tree-node-content
    .bp3-tag.bp3-intent-success {
    background-color: rgba(15, 153, 96, 0.5);
    color: #ffffff;
}

.bp3-tree-node.bp3-tree-node-selected
    > .bp3-tree-node-content
    .bp3-tag.bp3-intent-warning {
    background-color: rgba(217, 130, 43, 0.5);
    color: #ffffff;
}

.bp3-tree-node.bp3-tree-node-selected
    > .bp3-tree-node-content
    .bp3-tag.bp3-intent-primary {
    background-color: rgba(19, 124, 189, 0.5);
    color: #ffffff;
}

.minor-tree-pane {
    width: 68%;
    align-self: flex-start;
}

.popup-tree-pane {
    width: 100%;
    height: calc(100% - 50px);
    margin-bottom: 20px;
}

.bp3-tree-node-secondary-label {
    white-space: nowrap;
    padding-right: 0;
}

.tabs-pane {
    width: 60%;
    margin-left: 10px;
    z-index: 1;
}

.tab-content {
    display: flex;
    padding: 25px 0 0;
    flex-direction: column;
    align-items: flex-start;
}

.tab-content--row {
    flex-direction: row;
}

.tab-aside {
    margin-left: 10px;
    align-self: flex-start;
    width: 30%;
}

.tab-entity {
    margin-bottom: 15px;
    width: 100%;
}

.tab-entity:last-child {
    margin-bottom: 0;
}

.tab-entity p {
    margin-bottom: 0;
}

.tab-entity small {
    font-style: italic;
}

.tab-entity .extension-header {
    margin-bottom: 5px;
}

.context-button.bp3-button.bp3-minimal:active,
.context-button.bp3-button.bp3-minimal:focus,
.context-button.bp3-button.bp3-minimal.bp3-active {
    outline: none;
}

.expand-to-node {
    margin-right: 34px;
}

.expand-to-node--active {
    margin-right: 4px;
}

.bp3-tree-node-secondary-label .context-popover {
    display: inline-flex;
    vertical-align: middle;
}

.track-vertical {
    position: absolute;
    width: 6px;
    transition: opacity 200ms ease 0s;
    right: 0;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
    z-index: 1;
}

.thumb-vertical {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    height: 61px;
}

.action-dialog {
    padding-bottom: 0;
}

.action-dialog .bp3-dialog-header {
    text-align: center;
}

.dialog-button-group {
    width: 100%;
    justify-content: center;
}

.dialog-spinner {
    padding: 50px 0;
}

.hidden {
    display: none !important;
}

.select-menu .bp3-menu {
    max-width: 600px;
}

@media (max-width: 1100px) {
    .layout {
        flex-direction: column;
    }

    .tree-pane {
        width: 100%;
        margin-bottom: 20px;
    }

    .tabs-pane {
        width: 100%;
        margin-left: 0;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}
.pagination .bp3-tag {
    min-height: 30px;
    min-width: 30px;
    border-radius: 0;
    text-align: center;
}
.pagination .bp3-tag.left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination .bp3-tag.right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pagination .bp3-input {
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid #5c7080;
    border-bottom: 1px solid #5c7080;
    width: 50px;
    text-align: center;
}
.pagination .bp3-button {
    margin: 0 10px;
}

.node-selected {
    color: white;
}

.node-selected:hover {
    color: white;
}

.bp3-tag {
    flex-shrink: 0;
}