body {
    margin-top: 50px;
}

.layout {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.tree-card {
    min-width: 320px;
}

.site-tree .bp3-tree-node-content:hover {
    background: inherit;
}
