body {
    margin-top: 50px;
}

.layout {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.tree-pane {
    width: 30%;
    min-width: 250px;
    min-height: 70px;
}

.tabs-pane {
    width: 70%;
    margin-left: 10px;
    z-index: 1;
}

.tab-content {
    padding: 25px 10px 0;
}

.context-button.bp3-button.bp3-minimal:active,
.context-button.bp3-button.bp3-minimal:focus,
.context-button.bp3-button.bp3-minimal.bp3-active {
    outline: none;
    background: rgba(167, 182, 194, 0.5);
}
