<div id="root">Loading...</div>

@section Scripts {
    <script src="~/dist/main.js"></script>
    <script src="~/dist/vendor.js"></script>
}
@section TestScripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#publish').click(function (e) {
                e.preventDefault();
                ajaxRequest('/api/sitemap/publish', [741184, 741186, 741188]);
            });

            $('#reorder').click(function (e) {
                e.preventDefault();
                ajaxRequest('/api/sitemap/reorder', {
                    itemId: 741188,
                    relatedItemId: 741184,
                    isInsertBefore: true
                });
            });

            $('#move').click(function (e) {
                e.preventDefault();
                ajaxRequest('/api/sitemap/move', {
                    itemId: 741182,
                    newParentId: 741114
                });
            });
        });
        //(function () {
        //    var path = '/api/sitemap/publish' + location.search + '&itemids=741180';
        //    el = document.getElementById('publish');
        //    el.href = path;
        //})();

        function getHeaderData() {
            getQueryVariable = function (variable) {
                var query = window.location.search.substring(1);
                var vars = query.split('&');
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split('=');
                    if (decodeURIComponent(pair[0]) == variable) {
                        return decodeURIComponent(pair[1]);
                    }
                }
            };

            return {
                BackendSid: getQueryVariable('backend_sid'),
                CustomerCode: getQueryVariable('customerCode'),
                HostId: getQueryVariable('hostUID'),
                SiteId: getQueryVariable('site_id')
            };
        }

    function ajaxPostRequest(path, model) {
        $.ajax(path, {
            method: 'POST',
            data: JSON.stringify(model),
            contentType: 'application/json',
            beforeSend: function (request) {
                request.setRequestHeader('Qp-Site-Params', JSON.stringify(getHeaderData()));
            },
            success: function (result) {
                console.log(path, result)
            }
        });
    }

    function ajaxGetRequest(path, success) {
        $.ajax(path, {
            method: 'GET',
            beforeSend: function (request) {
                request.setRequestHeader('Qp-Site-Params', JSON.stringify(getHeaderData()));
            },
            success: function (result) {
                if (success == null) {
                    console.log(path, result)
                } else {
                    var successResult = success(result);
                    console.log(successResult);
                }
            }
        });
    }

    function convertSiteMap(result) {
        if (!result.isSuccess) {
            console.error(path, result.error);
            return;
        }
        var convertWidget = function (items, sitemap) {
            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                sitemap.push({
                    text: '[' + item.id + '] ' + item.alias + ' (' + item.title + ') order->' + item.indexOrder,
                    children: convertWidget(item.children, [])
                })
            }
            return sitemap;
        };
        var convert = function (items, sitemap) {
            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                sitemap.push({
                    text: '[' + item.id + '] ' + item.alias + ' (' + item.title + ') order->' + item.indexOrder,
                    contentVersions: convert(item.contentVersions, []),
                    widgets: convertWidget(item.widgets, []),
                    children: convert(item.children, [])
                })
            }
            return sitemap;
        };
        var sitemap = convert(result.data, []);
        return sitemap;
    }
</script>
